.App {
  text-align: center;
  font-size: calc(10px + 2vmin);
  max-height: 100vh;
}

.Auth {
  margin-top: 40%;
  text-align: center;
  font-size: calc(10px + 2vmin);
  max-height: 100vh;
}

h1 {
  margin: 0;
}

p {
  margin: 0;
}

.day-container{
  border-color: white;
  border-style: solid;
  margin: 5% 25%;
  padding: 2%;
}

.in {
  background-color: green;
}

.out {
  background-color: red;
}

.button {
  text-decoration: underline;
  cursor: pointer;
}