.App {
  text-align: center;
  font-size: calc(10px + 2vmin);
  max-height: 100vh;
}

.Auth {
  margin-top: 40%;
  text-align: center;
  font-size: calc(10px + 2vmin);
  max-height: 100vh;
}

h1 {
  margin: 0;
}

p {
  margin: 0;
}

.day-container{
  border-color: white;
  border-style: solid;
  padding: 2%;
  width: 40%;
}

.in {
  background-color: green;
}

.out {
  background-color: red;
}

.later {
  background-color: orange;
}

.button {
  text-decoration: underline;
  cursor: pointer;
}

.row{
  display: flex;
    align-content: center;
    flex-direction: row;
    align-items: center;
    margin: 5% 0;
    justify-content: space-around;
}

.in-line {
  display: block;
}

.modal {
  position: fixed;
  background-color: white;
  color: #282c34;
  width: 60%;
  top: 25%;
  left: 20%;
}

.active {
  display: inherit;
}

.inactive {
  display: none;
}

.name-container{
  display: flex;
  justify-content: space-between;
}

.info-container{
  width: 40%;
}

.name{
  border-color: white;
  border-style: solid;
  padding: 2%;
}